body {
    background-color: #808080;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto);
    height: 600px;
    width: 600px;
}

.draw-color {
    background-color: #2d5986;
}

.test-color {
    background-color: #fff;
}
